{% extends "index.html" %}
{% block title %}
  <title>Register | Login</title>
{% endblock %}

{% block content %}
<div class="row">
  <h4>Register here</h4>
  <div class="col m4">

    <form class="" action="" method="post" enctype="multipart/form-data">
      {% if form.errors %}
        {{ form.errors }}
      {% endif %}
      {% csrf_token %}
      {% for field in user_form %}
      <div class="form-group ">
        {{ field.label_tag}} {{ field }}
        {% if field.errors %}
        <div><p>{{ field.errors }}</p></div>
        {% endif %}
      </div>
      {% endfor %}
      <input type="submit" class="btn btn-primary" value="Register">
    </form>
  </div>
</div>
    <p><a href="{% url 'user:login' %}">Or LogIn</a></p>
{% endblock %}